{% extends "outpost/base.html" %}

{% load i18n %}

{% block content %}
<div class="page-header">
    <div class="btn-group pull-right">
        <a href="{% url 'salt:file-create' %}" class="btn btn-info">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
            {% trans "Add file" %}
        </a>
    </div>
    <h1>
        {% trans "Your files" %}
    </h1>
</div>
<h3>{% trans "Current files" %}</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Path</th>
            <th>Permissions</th>
            <th>MIME</th>
            <th>Systems</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for file in object_list %}
        <tr>
            <th scope="row">{{ file.path }}</th>
            <td>{{ file.permissions }}</td>
            <td>{{ file.mimetype }}</td>
            <td>
              <ul>
                {% for systemfile in  file.systemfile_set.all %}
                <li>{{ systemfile.system }}: <code>{{ systemfile.path }}</code></li>
                {% endfor %}
              </ul>
            </td>
            <td>
                <a href="{% url 'salt:file-update' pk=file.pk %}" class="text-info">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                <a href="{% url 'salt:file-delete' pk=file.pk %}" class="text-danger">
                    <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
