{% extends "outpost/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block contentx %}
<div class="page-header">
  <h1>
    {% trans "Remove file" %}
  </h1>
</div>
<div class="row">
  <div class="col-sm-12">
    {% blocktrans with name=object.path %}
    Are you sure you want to remove your file <strong>{{ name }}</strong>. It was installed on the following systems but will not be automatically deleted.
    {% endblocktrans %}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <ul>
    </ul>
  </div>
</div>
<div class="row">
  <form method="post" action="{% url 'salt:file-delete' pk=object.pk %}" enctype="multipart/form-data" class="col-sm-12">
    {% csrf_token %}

    <div class="control-group">
      <button type="submit" class="btn btn-danger">
        <span class="glyphicon glyphicon-remove-sign"></span>
        {% trans 'Delete' %}
      </button>
      <a href="{% url 'salt:file' %}" class="btn btn-warning">
        <span class="glyphicon glyphicon-ban-circle"></span>
        {% trans 'Cancel' %}
      </a>
    </div>
  </form>
</div>
{% endblock %}
{% block content %}
<form method="post" action="{% url 'salt:file-delete' pk=object.pk %}">
  <div class="border-bottom mb-2">
    <h1>
      {% blocktrans with path=object.path %}
      Delete {{ path }}
      {% endblocktrans %}
    </h1>
  </div>
  {% csrf_token %}
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          {% blocktrans with name=object.path count=object.systemfile_set.count %}
          Are you sure you want to remove your file <strong>{{ name }}</strong>. It was installed on <strong>{{ count }} systems</strong> but will not be automatically deleted.
          {% endblocktrans %}
        </div>
        <div class="col-sm-6">
          <ul>
            {% for systemfile in object.systemfile_set.all %}
            <li>{{ systemfile.system }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="card-footer btn-group">
      <button type="submit" class="btn btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
        {% trans "Delete" %}
      </button>
      <a class="btn btn-secondary" href="{% url "salt:file" %}">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        {% trans "Cancel" %}
      </a>
    </div>
  </div>
</form>
{% endblock content %}
