{% load i18n %}
{% if request.user.is_authenticated %}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_salt" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-server" aria-hidden="true"></i>
    {% trans "SaltStack" %}
  </a>
  <div class="dropdown-menu" aria-labelledby="navbarDropdown_api">
    <a class="dropdown-item" href="{% url 'salt:publickey' %}">
      <i class="fa fa-key-modern" aria-hidden="true"></i>
      {% trans 'Public keys' %}
    </a>
    <a class="dropdown-item" href="{% url 'salt:file' %}">
      <i class="fa fa-file" aria-hidden="true"></i>
      {% trans 'Files' %}
    </a>
  </div>
</li>
{% endif %}
