{% extends "outpost/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
<form method="post" action="{% url 'salt:publickey-delete' pk=object.pk %}">
  <div class="border-bottom mb-2">
    <h1>
      {% blocktrans with name=object.name %}
      Delete {{ name }}
      {% endblocktrans %}
    </h1>
  </div>
  {% csrf_token %}
  <div class="card">
    <div class="card-body">
<div class="row">
    <div class="col-sm-6">
        {% blocktrans with name=object.name fingerprint=object.fingerprint %}
        Are you sure you want to remove your key <strong>{{ name }}</strong> (<code>{{ fingerprint }}</code>) from these systems:
        {% endblocktrans %}
    </div>
    <div class="col-sm-6">
        <ul>
            {% for system in user.systems.all %}
            <li>{{ system }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
    </div>
    <div class="card-footer btn-group">
      <button type="submit" class="btn btn-danger">
        <i class="fa fa-trash" aria-hidden="true"></i>
        {% trans "Delete" %}
      </button>
      <a class="btn btn-secondary" href="{% url "salt:publickey" %}">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
        {% trans "Cancel" %}
      </a>
    </div>
  </div>
</form>
{% endblock content %}
